---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getEntry } from "astro:content";
import "../styles/global.css";

// Fetch the 'about' entry from the 'me' collection
const about = await getEntry("me", "about");
if (!about) {
  throw new Error("About page not found");
}

// Render the markdown content
const { Content } = await about.render();
---

<html lang="en">
  <head>
    <BaseHead
      title={about.data.title ?? "About Me"}
      description={about.data.description ?? "Learn more about me"}
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>{about.data.title ?? "About Me"}</h1>
      {
        about.data.pubDate && (
          <p>
            updated on:{" "}
            <time datetime={about.data.pubDate.toISOString()}>
              {about.data.pubDate.toLocaleDateString()}
            </time>
          </p>
        )
      }
      <article>
        <Content />
      </article>
    </main>
    <Footer />
  </body>
</html>
